{% extends 'restaurant/base.html' %}
{% load bootstrap4 %}
{% block title %} Account {% block subtitle %}|{% endblock %} {% endblock %}
{% block page %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="card">
            <div class="card-header bg-blue">
                <h4 class="card-title text-center text-white">
                    Account
                </h4>
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    {% bootstrap_form restaurant_form %}
                    <div class="form-group" id="localForm" data-locations-url="{% url 'ajax_load_locations'  %}">
                    </div>
                    <button class="btn btn-pink" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        $("#id_district").change(function () {
            var url = $("#localForm").attr("data-locations-url");  // get the url of the `load_cities` view

            var districtId = $(this).val();  // get the selected district ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'district': districtId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_location").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

{% endblock %}